{
"train_data_path" : "C:/Users/kikap/Downloads/starting_kit/train.txt",
"test_data_path" : "C:/Users/kikap/Downloads/starting_kit/test.txt",
"solution_path" : "C:/Users/kikap/Downloads/starting_kit/solution.txt",
"glove_dir" : "C:/Users/kikap/Downloads/starting_kit/glove.6B",
"num_folds" : 5,
"num_classes" : 4,
"max_nb_words" : 20000,
"max_sequence_length" : 100,
"embedding_dim" : 200,
"batch_size" : 200,
"lstm_dim" : 128,
"learning_rate" : 0.003,
"dropout" : 0.2,
"num_epochs" : 75
}