{
  "train_data_path" : "./datasets/train.txt",
  "test_data_path" : "./datasets/test.txt",
  "solution_dir" : "./solutions,
  "glove_dir" : "./embeddings",
  "num_folds" : 5,
  "num_classes" : 4,
  "max_nb_words" : 20000,
  "max_sequence_length" : 100,
  "embedding_dim" : 200,
  "batch_size" : 200,
  "lstm_dim" : 128,
  "learning_rate" : 0.003,
  "dropout" : 0.2,
  "num_epochs" : 75
}